.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(68,114,196);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.yf{bottom:3.954000px;}
.ye{bottom:4.740000px;}
.y14{bottom:5.240000px;}
.yc{bottom:6.276001px;}
.ya{bottom:12.990000px;}
.yb{bottom:19.704000px;}
.y1c{bottom:39.840026px;}
.y1b{bottom:53.268004px;}
.y1a{bottom:66.695983px;}
.y19{bottom:80.124022px;}
.y18{bottom:328.189013px;}
.y0{bottom:341.000000px;}
.y17{bottom:342.836993px;}
.y16{bottom:416.077014px;}
.y15{bottom:468.505997px;}
.y13{bottom:485.005997px;}
.y12{bottom:501.505997px;}
.y11{bottom:517.005997px;}
.y10{bottom:532.505997px;}
.yd{bottom:548.005997px;}
.y9{bottom:563.505997px;}
.y8{bottom:612.888000px;}
.y7{bottom:626.315993px;}
.y6{bottom:654.660998px;}
.y5{bottom:669.309001px;}
.y4{bottom:683.957004px;}
.y3{bottom:698.604999px;}
.y2{bottom:727.900996px;}
.y1{bottom:742.548999px;}
.h5{height:17.000000px;}
.h6{height:18.000000px;}
.h7{height:18.500000px;}
.h8{height:30.078125px;}
.h3{height:31.947266px;}
.h2{height:32.812500px;}
.h4{height:33.500000px;}
.h1{height:465.000000px;}
.h0{height:842.000000px;}
.wb{width:17.200001px;}
.w2{width:37.000000px;}
.w7{width:37.500000px;}
.wd{width:50.299999px;}
.wa{width:53.099998px;}
.w9{width:55.000000px;}
.we{width:72.349998px;}
.w8{width:72.500000px;}
.wc{width:80.500000px;}
.w4{width:95.199997px;}
.w6{width:114.900002px;}
.w5{width:120.400002px;}
.w3{width:176.100006px;}
.w1{width:536.500000px;}
.w0{width:595.000000px;}
.xa{left:7.037000px;}
.x17{left:8.221000px;}
.x20{left:9.662000px;}
.x6{left:11.157000px;}
.xc{left:12.300000px;}
.x15{left:15.712000px;}
.x10{left:17.256000px;}
.x11{left:26.421000px;}
.x0{left:29.000000px;}
.x19{left:32.015999px;}
.x18{left:33.140999px;}
.x3{left:36.000000px;}
.xe{left:38.102999px;}
.x1a{left:39.237002px;}
.x16{left:42.025000px;}
.x1b{left:44.811999px;}
.x12{left:46.356001px;}
.xf{left:47.975001px;}
.x8{left:51.738001px;}
.x14{left:56.206000px;}
.x13{left:58.956000px;}
.x7{left:64.075000px;}
.x25{left:125.747002px;}
.x1c{left:134.325000px;}
.x1d{left:187.325000px;}
.x26{left:195.580002px;}
.x24{left:234.389008px;}
.x9{left:238.675006px;}
.x5{left:244.449005px;}
.x1e{left:253.625003px;}
.x4{left:278.378998px;}
.xb{left:332.374988px;}
.x1{left:370.314000px;}
.x1f{left:380.425006px;}
.x21{left:396.000000px;}
.x2{left:410.502998px;}
.x22{left:426.279999px;}
.x23{left:434.960999px;}
.xd{left:451.275012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.yf{bottom:5.272001pt;}
.ye{bottom:6.320000pt;}
.y14{bottom:6.986666pt;}
.yc{bottom:8.368001pt;}
.ya{bottom:17.320000pt;}
.yb{bottom:26.272001pt;}
.y1c{bottom:53.120035pt;}
.y1b{bottom:71.024006pt;}
.y1a{bottom:88.927977pt;}
.y19{bottom:106.832030pt;}
.y18{bottom:437.585351pt;}
.y0{bottom:454.666667pt;}
.y17{bottom:457.115991pt;}
.y16{bottom:554.769352pt;}
.y15{bottom:624.674662pt;}
.y13{bottom:646.674662pt;}
.y12{bottom:668.674662pt;}
.y11{bottom:689.341329pt;}
.y10{bottom:710.007996pt;}
.yd{bottom:730.674662pt;}
.y9{bottom:751.341329pt;}
.y8{bottom:817.183999pt;}
.y7{bottom:835.087991pt;}
.y6{bottom:872.881331pt;}
.y5{bottom:892.412001pt;}
.y4{bottom:911.942671pt;}
.y3{bottom:931.473331pt;}
.y2{bottom:970.534662pt;}
.y1{bottom:990.065332pt;}
.h5{height:22.666667pt;}
.h6{height:24.000000pt;}
.h7{height:24.666667pt;}
.h8{height:40.104167pt;}
.h3{height:42.596354pt;}
.h2{height:43.750000pt;}
.h4{height:44.666667pt;}
.h1{height:620.000000pt;}
.h0{height:1122.666667pt;}
.wb{width:22.933334pt;}
.w2{width:49.333333pt;}
.w7{width:50.000000pt;}
.wd{width:67.066666pt;}
.wa{width:70.799998pt;}
.w9{width:73.333333pt;}
.we{width:96.466665pt;}
.w8{width:96.666667pt;}
.wc{width:107.333333pt;}
.w4{width:126.933329pt;}
.w6{width:153.200002pt;}
.w5{width:160.533335pt;}
.w3{width:234.800008pt;}
.w1{width:715.333333pt;}
.w0{width:793.333333pt;}
.xa{left:9.382667pt;}
.x17{left:10.961334pt;}
.x20{left:12.882667pt;}
.x6{left:14.876000pt;}
.xc{left:16.400000pt;}
.x15{left:20.949334pt;}
.x10{left:23.008000pt;}
.x11{left:35.228000pt;}
.x0{left:38.666667pt;}
.x19{left:42.687999pt;}
.x18{left:44.187999pt;}
.x3{left:48.000000pt;}
.xe{left:50.803999pt;}
.x1a{left:52.316003pt;}
.x16{left:56.033333pt;}
.x1b{left:59.749332pt;}
.x12{left:61.808002pt;}
.xf{left:63.966668pt;}
.x8{left:68.984002pt;}
.x14{left:74.941333pt;}
.x13{left:78.608000pt;}
.x7{left:85.433333pt;}
.x25{left:167.662669pt;}
.x1c{left:179.100000pt;}
.x1d{left:249.766666pt;}
.x26{left:260.773336pt;}
.x24{left:312.518677pt;}
.x9{left:318.233341pt;}
.x5{left:325.932007pt;}
.x1e{left:338.166670pt;}
.x4{left:371.171997pt;}
.xb{left:443.166650pt;}
.x1{left:493.752000pt;}
.x1f{left:507.233341pt;}
.x21{left:528.000000pt;}
.x2{left:547.337331pt;}
.x22{left:568.373332pt;}
.x23{left:579.947998pt;}
.xd{left:601.700016pt;}
}
